.about-page {
   padding: 10px;
   height: 100vh;
   box-sizing: border-box;
   overflow-x: hidden;
   overflow-y: auto;

   position: relative;

   background-color: rgb(180,180,180);
   color: rgb(218,218,218);
}

.about-page header {
   margin-bottom: 60px;
}

.about-page header .title {
   margin: 0;
   margin-bottom: 20px;
   text-align: center;

   font-family: georgia;
   font-size: 40px;

   color: rgb(237,237,237);
}

.about-page header .title .version {
   font-family: Georgia;
   font-size: 0.4em;
   vertical-align: top;

   color: rgb(156,156,156);
}

.about-page header .subtitle {
   margin: 10px 0 0;
   text-align: center;

   font-family: georgia;
   font-size: 16px;
   font-style: italic;
   font-weight: normal;

   color: rgb(214,214,214);
}

.about-page > .home {
   text-align: center;
}

.about-page > .home .home {
   width: 40px;
   height: 40px;

   fill: rgb(218,218,218);
   transition: fill 0.3s ease-in;
}

.about-page > .home .home:hover {
   fill: rgb(255,255,255);
}

.about-page footer {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   margin-bottom: 5px;
}

.about-page footer .credits {
   margin: 0;
   text-align: center;

   text-transform: uppercase;
   font-size: 10px;

   position: relative;
}

.about-page footer .credits .hearts {
   font-size: 1.4em;
   color: #ff6767;

   position: relative;
   top: 1px;
}

@media screen and (min-width: 620px) {
   .about-page {
      width: 600px;
      height: auto;
      margin: 10px auto;
      border: 1px solid rgb(150, 150, 150);
      border-radius: 5px;
   }

   .about-page footer {
      position: static;
      margin: 40px 0 0;
   }
}

.about-page p {
   line-height: 1.5;
}

.about-page a {
   color: rgb(230,230,230);
   transition: color 0.3s ease-in;
}

.about-page a:hover {
   color: rgb(255,255,255);
}
