.about-page {
   padding: 10px;
   height: 100vh;
   box-sizing: border-box;

   position: relative;

   background-color: gray(180);
   color: gray(218);
}

.about-page .title {
   margin: 0;
   text-align: center;

   font-family: georgia;
   font-size: 40px;

   color: gray(237);
}

.about-page .subtitle {
   margin: 10px 0 0;
   text-align: center;

   font-family: georgia;
   font-size: 16px;
   font-style: italic;
   font-weight: normal;

   color: gray(214);
}

.about-page .version {
}

.about-page .home {
   text-align: center;
}

.about-page footer {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
}

.about-page footer .credits {
   margin: 0;
   text-align: center;

   text-transform: uppercase;
   font-size: 10px;
}

.about-page footer .credits .hearts {
   color: #cc0000;
}

@media screen and (min-width: 620px) {
   .about-page {
      width: 600px;
      height: auto;
      margin: 10px auto;
      border: 1px solid gray(150);
      border-radius: 5px;
   }
}

.about-page p {
   line-height: 1.5;
}

.about-page a {
   color: gray(230);
   transition: color 0.3s ease-in;
}

.about-page a:hover {
   color: gray(255);
}
