.activity-indicator {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;

   background-color: rgba(0,0,0, 0.5);
   color: gray(255);

   //opacity: 0;
   //transition: opacity 0.5s;
}

.activity-indicator .fg {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%);
}

@import 'hola-bars.css';
