.failure {
   box-sizing: border-box;
   width: 600px;
   padding: 10px;

   margin: 10px auto;

   border-radius: 5px;

   background-color: gray(180);
   color: gray(218);
   border: 1px solid gray(150);
}

.failure .title {
   text-align: center;
   font-family: georgia;
   font-size: 26px;
   margin: 0 0 30px;
}

.failure .msg {
   text-align: center;
   margin: 30px 0;
}

.failure .action {
   text-align: center;
   margin: 0;
}

.failure .action .button {
   padding: 10px 40px;

   border-radius: 5px;

   text-transform: uppercase;
   font-family: verdana;
   font-size: 14px;
   font-weight: bold;

   background-color: gray(220);
   color: gray(150);
   border: 1px solid gray(150);
}

.failure .action .button:hover {
   cursor: pointer;
   color: gray(255);
}

.failure .action .button:focus {
   outline: none;
   color: gray(255);
}
