/*
 * A CSS-only 'hola-wave' spinner parameterized with CSS variables.
 *
 * Can be post-processed with the [postcss-custom-properties](https://github.com/postcss/postcss-custom-properties) [PostCSS](https://github.com/postcss/postcss) plugin.
 *
 * Ported and adapted from http://tobiasahlin.com/spinkit/ , the third spinner.
 */

$barWidth: 5px;
$barAspectRatio: 0.2;
$barHeight: $barWidth / $barAspectRatio;
$barDistance: $barWidth;
$barStretchFactor: 2.0;
$animDur: 1.2s;
$delay: 0.05s;
$barColor: #fff;

.hola-bars {
	display: inline-block;
	margin: 0;
	padding: 0;

	font-size: 0px;
 }

.hola-bars > * {
	display: inline-block;
	width: $barWidth;
	height: $barHeight;
	margin-right: $barDistance;

	background-color: $barColor;

	animation: stretch $animDur infinite ease-in-out;
}
.hola-bars > *:last-child {
	margin-right: 0;
}

.hola-bars > *:nth-child(2) {
	animation-delay: $delay;
}
.hola-bars > *:nth-child(3) {
	animation-delay: $delay * 2;
}
.hola-bars> *:nth-child(4) {
	animation-delay: $delay * 3;
}
.hola-bars > *:nth-child(5) {
	animation-delay: $delay * 4;
}

@keyframes stretch {
	0%, 40% {
		transform: scaleY(1.0);
	}
	20% {
		transform: scaleY($barStretchFactor);
	}
}
