.meta-item .icon {
   width: 18px;
   height: 18px;

   fill: rgb(206, 206, 206);

   vertical-align: middle;
   position: relative;
}

.meta-item .label {
   color: rgb(206, 206, 206);
}

.meta-item .icon.standard {
   top: -2px;
}
