.meta-item .icon {
   width: 18px;
   height: 18px;

   fill: gray(206);

   vertical-align: middle;
   position: relative;
}

.meta-item .label {
   color: gray(206);
}

.meta-item .icon.standard {
   top: -2px;
}
