.toolbar {
   flex: none;
   height: var(--toolbarHeight);
   box-sizing: border-box;
   padding: 5px;

   display: flex;
   justify-content: space-between;
   position: relative;

   background-color: #5e5e5e;
   color: #aaa;
   opacity: 0.5;
}

.toolbar .logo {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);

   font-family: verdana, sans-serif;
   text-transform: uppercase;
   font-weight: bold;

   color: #f0f0f0;
}
