.toolbar {
   box-sizing: border-box;
   height: var(--toolbarHeight);
   padding: 5px;

   background-color: gray(115);
}

.toolbar nav {
   height: 100%;
   display: flex;
   //justify-content: space-between;
   align-items: center;

   position: relative;
}

.toolbar .logo {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);

   font-family: verdana, sans-serif;
   text-transform: uppercase;
   font-weight: bold;
}

.toolbar .about {
   flex: 0 0 auto;
   margin: 0;
   margin-left: auto;

   text-transform: uppercase;
   font-size: 12px;
   font-weight: bold;
   font-family: sans-serif;
}

.toolbar a {
   color: gray(225);
   transition: color 0.2s ease-in;
}

.toolbar a:hover {
   color: gray(255);
}

@media screen and (min-width: 1000px) {
   .toolbar nav {
      width: 1000px;
      margin: 0 auto;
   }
}
