.app--home .app__body {
   overflow-y: auto;
}

.welcome {
   padding: 20px 10px;
}

.welcome header {
   margin-bottom: 40px;
}

.welcome__title {
   margin: 0;
   text-align: center;

   font-family: serif;
   font-size: 40px;

   color: gray(237);
}

.welcome__subtitle {
   margin: 10px 0 0;
   text-align: center;

   font-family: georgia;
   font-size: 16px;
   font-style: italic;
   font-weight: normal;

   color: gray(214);
}

.welcome h3 {
   margin-top: 40px;
   text-align: center;
}

.welcome footer {
   margin: 40px 0 0;

   text-align: center;

   text-transform: uppercase;
   font-size: 10px;
}

.welcome footer p {
   margin: 0;
}

.welcome footer .hearts {
   color: #cc0000;
}


.welcome {
   color: gray(221);
}

.welcome a {
   color: gray(100);
}

@media screen and (min-width: 700px) {
   .welcome {
      margin: 0 auto;
      width: 600px;
   }
}
