.card .page {

   background-color: #f7f7f7;

   .toolbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
   }

   .wrap {
      width: 960px;
      margin: 40px auto 0;
      padding-top: 20px;

      .main {
         float: left;
         width: 610px;
         padding-right: 20px;
         box-sizing: border-box;

         & > header {
            margin-bottom: 40px;

            .title {
               margin: 0 0 10px;

               font-family: sans-serif;
               font-weight: bold;
               font-size: 24px;
            }
         }

         .cover {
            display: block;
            width: 100%;
            height: auto;
            margin-bottom: 40px;
         }

         .description {
            margin-bottom: 80px;
            line-height: 1.4;

            h1, h2, h3, h4 {
               font-family: serif;
            }
            h1 {
               font-size: 20px;
            }
            h2 {
               font-size: 18px;
            }
         }
      }

      .aux {
         float: right;
         width: 350px;
         padding-left: 20px;
         box-sizing: border-box;
      }

      &::after {
         content: '';
         display: table;
         clear: both;
      }
   }
}

@import 'comments';
