.comments {

   .comments__bar {
      margin-bottom: 10px;
   }
   .comments__bar__counters {
      margin: 0;

      color: #9e9d9d;
   }
   .comments__bar__counters__label {
      font-size: 1.3em;

      &::after {
         content: ' ';
      }

   }
   .comments__bar__counters__value {
      font-family: georgia;
      font-size: 1em;
      font-weight: normal;

      &::before {
         content: '('
      }
      &::after {
         content: ')'
      }
   }

   .items {
      margin: 0;
      padding: 0;
      list-style: none;

      .item {
         padding: 15px 0 15px 55px;
         position: relative;

         border-top: 1px solid gray;
         &:last-child {
            border-bottom: 1px solid gray;
         }

         .avatar {
            position: absolute;
            top: 15px;
            left: 0px;
            width: 40px;
            height: 40px;

            border-radius: 50%;
         }

         .username {
            margin: 0 0 15px;

            a {
               font-family: sans-serif;
               font-weight: normal;
               font-size: 20px;
               color: #a2c0cc;
            }
         }

         .text {
            line-height: 1.6;
            margin-bottom: 20px;

            font-size: 0.9em;
            color: #9a9898;

            ul {
               list-style: disc;
            }
            a {
               color: #fba4b4;
            }
         }

         .meta {
            margin: 0;

            font-size: 0.7em;
            color: #c1c1c1;
            font-family: sans-serif;
            font-style: italic;

            .timestamp {
            }
         }
      }
   }
}

.comments__footer {
   margin-top: 20px;

   .more {
      text-align: center;
   }
}

@import 'more-button.scss'
