.comments {
   .topbar {
      margin-bottom: 10px;
      font-size: 22px;

      p {
         margin: 0;
      }
   }

   .items {
      margin: 0;
      padding: 0;
      list-style: none;

      .item {
         border-top: 1px solid gray;
         padding: 15px 0 15px 55px;
         position: relative;

         &:last-child {
            border-bottom: 1px solid gray;
         }

         .avatar {
            position: absolute;
            top: 15px;
            left: 0px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
         }

         .username {
            margin: 0 0 15px;
            font-family: sans-serif;
            font-weight: normal;
            font-size: 20px;
         }

         .text {
            line-height: 1.4;
            margin-bottom: 20px;

            ul {
               list-style: disc;
            }
         }

         .meta {
            margin: 0;
            font-size: 14px;

            .timestamp {

            }
         }
      }
   }
}
