.lists-container {
   flex: auto;

   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: flex-start;

   overflow-x: auto;
   overflow-y: hidden;
}

.list {
   flex: none;

   box-sizing: border-box;
   width: 300px;
   padding: 10px;
   margin: 0 10px;

   border-radius: 5px;

   background-color: #e5e5e5;
   border: 1px solid gray(154);
   color: gray(133);
}

.list__name {
   margin: 0;
   padding: 10px 0;

   font-family: verdana;
   font-size: 18px;

   color: gray(128);
}

.list .cards {
   list-style: none;
   padding: 0;
   margin: 0;

   max-height: 450px;
   overflow-x: hidden;
   overflow-y: auto;
}

.card {
   padding: 10px;
   margin-bottom: 10px;

   border-radius: 5px;

   background-color: gray(250);
   color: gray(160);
   box-shadow: 0 1px 2px 0px rgba(0,0,0, 0.2);

   transition: box-shadow;
}
.card:hover {
   cursor: pointer;
   box-shadow: 0 1px 8px 0 rgba(0,0,0, 0.2);
}

.card__name {
   text-align: center;

   font-family: sans-serif;
   font-size: 16px;
}

.card__meta {
   font-style: italic;
   font-size: 14px;

   color: gray(200);
}

.card__meta > * {
   margin-right: 10px;
}
