.lists-container {
   height: calc(100% - 40px * 2);
   overflow-x: auto;
   overflow-y: hidden;
}

.lists {
   display: table;
   table-layout: fixed;
   width: 100%;
   //height: 100%;
   border-spacing: 10px;
}

.lists .list {
   display: table-cell;
   width: 300px;
   box-sizing: border-box;
   max-height: calc(100% - 10px);
   overflow-y: auto;
   padding: 10px;
   vertical-align: top;

   border-radius: 5px;

   background-color: #ccc;
   border: 1px solid gray(154);
   color: gray(133);
}

.lists .list .name {
   margin-top: 0;
   text-align: center;
   font-family: verdana;
   font-size: 20px;
}

.lists .list .items {
   list-style: none;
   padding: 0;
   margin: 0;
}

.lists .list .items .item {
   padding: 10px;
}

.lists .add-new-list {
   display: table-cell;
   width: 300px;
   box-sizing: border-box;

   padding: 10px;

   vertical-align: top;

   border-radius: 5px;

   background-color: #ccc;
   border: 1px solid gray(154);
}
