html {
   height: 100%;
}

body {
   height: 100%;
}

.app {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   height: 100%;
   overflow: hidden;

   background-position: 50% 50%;
   background-size: cover;
}

.app__body {
   flex: 1 1 auto;
}
