body, .app {
   background: color(grey);
}

.about {
   .page {
      background-color: lighten(color(grey), 5%);
      color: rgb(218,218,218);
      header {
         .title {
            color: rgb(237,237,237);
         }
         .title .version {
            color: rgb(156,156,156);
         }
         .subtitle {
            color: rgb(214,214,214);
         }
      }
      & > .home .home {
         fill: rgb(218,218,218);
         transition: fill 0.3s ease-in;
         &:hover {
            fill: rgb(255,255,255);
         }
      }
      footer .credits .hearts {
         color: color(red);
      }
      a {
         color: rgb(230,230,230);
         transition: color 0.3s ease-in;
         &:hover {
            color: rgb(255,255,255);
         }
      }
   }

   body {
      background: color(gray);
   }
}

.toolbar {
   background-color: color(fossil);
   &.translucent {
      background-color: rgba(50,50,50, 0.5);
   }
}
