body, .app {
   background: color(grey);
}

.toolbar {
   background-color: color(fossil);
   &.translucent {
      background-color: rgba(50,50,50, 0.5);
   }
}

.about {
   .page {
      background-color: lighten(color(grey), 5%);
      color: rgb(218,218,218);
      header {
         .title {
            color: rgb(237,237,237);
         }
         .title .version {
            color: rgb(156,156,156);
         }
         .subtitle {
            color: rgb(214,214,214);
         }
      }
      & > .home .home {
         fill: rgb(218,218,218);
         transition: fill 0.3s ease-in;
         &:hover {
            fill: rgb(255,255,255);
         }
      }
      footer .credits .hearts {
         color: color(red);
      }
      a {
         color: rgb(230,230,230);
         transition: color 0.3s ease-in;
         &:hover {
            color: rgb(255,255,255);
         }
      }
   }

   body {
      background: color(gray);
   }
}


.card {
   .page {
      background-color: #f7f7f7;

      .toolbar {
         background-color: #555;
      }

      .wrap {
         font-family: verdana;
         color: #555;

         h1, h2, h3, h4 {
            font-family: sans-serif;
         }

         h1 {
            font-size: 20px;
            font-weight: normal;
         }

         h2 {
            font-size: 18px;
            font-weight: normal;
         }

         .main {
            & > header {
               .title {
                  font-size: 24px;
               }
               .parent-list {
                  .label {
                     color: #aaa;
                  }
                  .icon {
                     fill: #aaa;
                     top: -2px;
                  }
               }
            }
            .description {
               line-height: 1.4;
            }
         }
         .aux {
            .votes {
               color: #aaa;
               .icon {
                  fill: #aaa;
               }
               .number {
                  font-family: georgia;
               }
               border-bottom: 1px solid;
            }
         }
      }
   }
}
