html {
   height: 100%;
   overflow: hidden;
}

body {
   height: 100%;
   overflow: hidden;

   margin: 0;

   background: #aaa;
}

.toolbar {
   display: flex;
   justify-content: space-between;
   position: relative;

   padding: 5px;

   background-color: #333;
   color: #aaa;
}

.toolbar .search {
   display: flex;
}

.toolbar .search > * {
   margin-right: 5px;
}

.toolbar .misc {
   display: flex;
}

.toolbar .misc > * {
   margin-left: 5px;
}

.toolbar .logo {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);

   color: #f0f0f0;
}


.board-info {
   height: 40px;
}
.board-info .board-title {
   display: inline-block;
   margin: 0;
}

.lists {
   height: calc(100% - 40px * 2);
   overflow-x: auto;
   overflow-y: hidden;
}

.lists-container {
   height: 100%;
   width: 6000px;
   overflow: hidden;
}

.lists .list {
   width: 300px;
   box-sizing: border-box;
   max-height: calc(100% - 10px);
   overflow-y: auto;

   float: left;
   margin-right: 40px;

   background-color: #ccc;
}

.lists .list .items {
   list-style: none;
   padding: 0;
   margin: 0;
}

.lists .list .items .item {
   padding: 10px;
}
