@import 'normalize-lite.css';

html {
   height: 100%;
   overflow: hidden;
}

body {
   height: 100%;
   overflow: hidden;

   background: #aaa;
}

a {
   text-decoration: none;
}

.app {
   display: flex;
   flex-direction: column;
   height: 100%;
   overflow: hidden;

   background-position: 50% 50%;
   background-size: cover;
}

@import 'components/meta-items.css';
@import 'components/toolbar.css';
@import 'components/board.css';
@import 'components/boardbar.css';
@import 'components/card-lists.css';
@import 'components/activity-indicator.css';
@import 'components/page-not-found.css';
