.toolbar {
   display: flex;
   justify-content: space-between;
   //position: relative;

   padding: 5px;

   background-color: #5e5e5e;
   color: #aaa;
}

.toolbar .search {
   display: flex;
}

.toolbar .search > * {
   margin-right: 5px;
}

.toolbar .misc {
   display: flex;
}

.toolbar .misc > * {
   margin-left: 5px;
   position: relative;
}
.toolbar .misc > *:before {
   position: absolute;
   content: '';
   top: 100%;
   right: 0;
   margin-right: 5px;
   margin-top: -3px;
   z-index: 99;

   border: 7px solid transparent;
   border-bottom-color: gray(243);

   display: none;
}
.toolbar .misc > *.visible:before {
   display: block;
}

.toolbar .misc .user .button {
   padding: 0;
   padding-right: 5px;

   border-radius: 3px;

   background: linear-gradient(gray(216), gray(189));

   border: 1px solid gray(189);
}

.toolbar .misc .user .button .avatar {
   vertical-align: middle;
}

.toolbar .misc .user .button .username {
   font-size: 16px;
   font-weight: bold;
   position: relative;
   top: 2px;

   font-family: Verdana;
   font-size: 14px;
   position: relative;
   top: 1px;

   color: gray(240);
}

.toolbar .misc .user .button:hover {
   cursor: pointer;

   background: linear-gradient(gray(189), gray(216));
}
.toolbar .misc .user .button:focus {
   //outline: 1px solid gray(255);
}

.toolbar .misc .user .button:hover .username {
   color: gray(255);
}

.toolbar .misc .menu {
   position: absolute;
   top: 100%;
   right: 0;
   margin: 5px;
   margin-top: 10px;
   min-width: 200px;
   max-width: 400px;
   display: none;

   border-radius: 3px;

   background-color: #f3f3f3;
}
.toolbar .misc > *.visible .menu {
   display: block;
}

.menu .items {
   margin: 0;
   padding: 0;
   list-style: none;;
}

.menu .items .item a {
   display: block;

   text-decoration: none;
   padding: 5px 10px;

   color: gray(181);
}

.menu .items .item.last-of-group {
   border-bottom: 1px solid gray(181);
}

.menu .items .item a:hover {
   background-color: gray(181);
   color: #f3f3f3;
}

.toolbar .logo {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);

   color: #f0f0f0;
}
