.board-page {
   height: 100vh;

   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;

   background-size: cover;
   background-position: 50% 50%;
}

@import 'board-info';
@import 'card-lists';
