.board-name {
   margin: 0;
   padding: 10px;

   height: 48px;
   box-sizing: border-box;
}

.board-name, .board-meta {
   text-align: center;
}

.board-meta > * {
   display: inline-block;
   padding: 10px;
}

.boardbar a {
   color: gray(221);
}
.boardbar a:hover {
   color: gray(255);
}

@media screen and (min-width: 490px) {
   .board-name, .board-meta {
      display: inline-block;
   }
}
