.board-page .board-info {
   flex: 0 0 auto;

   padding: 10px;

   display: flex;
   align-items: center;
}

.board-page .board-info > * {
   flex: 0 0 auto;

   margin: 0;
   margin-right: 20px;
}

.board-page .board-info > *:last-child {
   margin-right: 0;
}

.board-page .board-info ul.meta {
   padding: 0;
}

.board-page .board-info .meta > * {
   display: inline-block;
   margin-right: 5px;
}
.board-page .board-info .meta > *:last-child {
   margin-right: 0;
}

.board-page .board-info a {
   color: rgb(221,221,221);
}
.board-page .board-info a:hover {
   color: rgb(255, 255, 255);
}

@media screen and (max-width: 450px) {
   .board-page .board-info {
      flex-direction: column;
   }
   .board-page .board-info > * {
      margin: 0;
   }
   .board-page .board-info .name {
      margin-bottom: 10px;
   }
}
