.board-page .card-lists {
   flex: 1 1 auto;

   overflow-x: auto;
   overflow-y: hidden;

   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: flex-start;
}

.board-page .card-lists::after {
   content: '.';
   width: 0px;
   flex: none;
   color: rgba(0,0,0,0);
}

@import 'card-list';
