.board-page .card-lists {
   height: calc(100vh - #{$toolbar-height + $board-info-height});
   overflow-x: auto;
   overflow-y: hidden;

   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: flex-start;
}

@import 'card-list';
