.board-page .card-lists {
   flex: 1 1 auto;

   overflow-x: auto;
   overflow-y: hidden;

   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: flex-start;
}

@import 'card-list';
