.list {
   flex: none;

   box-sizing: border-box;
   width: 300px;
   padding: 10px;
   margin: 0 10px;

   border-radius: 5px;

   background-color: #e5e5e5;
   border: 1px solid rgb(154,154,154);
   color: rgb(133,133,133);
}

.list__name {
   margin: 0;
   padding-bottom: 10px;

   font-family: verdana;
   font-size: 18px;

   color: rgb(128,128,128);
}

.list .cards {
   list-style: none;
   padding: 0;
   margin: 0;

   //max-height: 450px;
   overflow-x: hidden;
   overflow-y: auto;
}

@import 'card';
