.board-page .card-lists {
   height: calc(100vh - 40px - 48px);
   overflow-x: auto;
   overflow-y: hidden;

   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: flex-start;
}

@import 'card-list.css';
